
<a href="/authors/new">Add authors</a>
<br>
<br>
<br>
<br>
<div>
  <form action="/authors" method="GET">
    Search: 
    <input type="text" name="name" >
  <button type="submit">Search</button>
  </form>
  <% authors.forEach((author) => {%>
    <p>name: <%= author.name %> </p>
  <%})%>
</div>